@model ERP_Mensajeria.Models.SolicitudProveedor

@{
    ViewBag.Title = "Eliminar solicitud de proveedor";
}

@if (!Request.IsAuthenticated)
{
    Response.Redirect(@Url.Action("Login", "Account"));
}
else
{

    <div class="container-fluid mt-5">
        <div class="card mb-4 wow fadeIn">
            <div class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span><a href="@Url.Action("Index", "Home")">Inicio</a></span>
                    <span>/</span>
                    <span><a href="@Url.Action("Index", "SolicitudProveedores")">Solicitudes de proveedor</a></span>
                    <span>/</span>
                    <span>Eliminar solicitud de proveedor</span>
                </h4>
            </div>
        </div>

        <div class="card mb-4 wow fadeIn">
            <div class="card-body">
                <div>
                    <h4>Solicitud de proveedor existente</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fecha_Ingreso)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Hora_Ingreso)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Hora_Ingreso)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha_Creacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fecha_Creacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion_Corta)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion_Corta)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Elevador)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Elevador)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Estado_Entrega)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Estado_Entrega)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Entregado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Entregado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Aprobado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Aprobado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Tipo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Tipo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Proveedor.Nombre)
                        </dd>

                    </dl>

                    <hr />
                    <div class="text-center">
                        <h3>¿Desea eliminar ésta solicitud de proveedor?</h3>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <a class="btn btn-primary" href="@Url.Action("Index", "SolicitudProveedores")">
                                    <i class="fa fa-arrow-left mr-1"></i> Regresar
                                </a>
                                |
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-times mr-1"></i>
                                    Eliminar
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}