@model ERP_Mensajeria.Models.Entrega

@{
    ViewBag.Title = "Eliminar entrega";
}

@if (!Request.IsAuthenticated)
{
    Response.Redirect(@Url.Action("Login", "Account"));
}
else
{

    <div class="container-fluid mt-5">
        <div class="card mb-4 wow fadeIn">
            <div class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span><a href="@Url.Action("Index", "Home")">Inicio</a></span>
                    <span>/</span>
                    <span><a href="@Url.Action("Index", "Entregas")">Entregas</a></span>
                    <span>/</span>
                    <span>Eliminar entrega</span>
                </h4>
            </div>
        </div>

        <div class="card mb-4 wow fadeIn">
            <div class="card-body">
                <div>
                    <h4>Entrega existente</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.No_Paquetes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.No_Paquetes)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Anticipada)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Anticipada)
                        </dd>

                        <dt>
                            Contacto
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Contacto.Nombre)
                        </dd>

                        <dt>
                            Empresa
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Empresa.Nombre)
                        </dd>

                        <dt>
                            Proveedor
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Proveedor.Nombre)
                        </dd>

                    </dl>

                    <hr />
                    <div class="text-center">
                        <h3>¿Desea eliminar ésta entrega?</h3>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <a class="btn btn-primary" href="@Url.Action("Index", "Entregas")">
                                    <i class="fa fa-arrow-left mr-1"></i> Regresar
                                </a>
                                |
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-times mr-1"></i>
                                    Eliminar
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}